@{
    ViewBag.Title = "Login";
}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/Recursos/img/favicon_1.ico">

    <title>Sistema Restaurante - Grupo 3</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Recursos/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Recursos/css/bootstrap-reset.css" rel="stylesheet" />

    <!--Animation css-->
    <link href="~/Recursos/css/animate.css" rel="stylesheet" />

    <!--Icon-fonts css-->
    <link href="~/Recursos/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Recursos/assets/ionicon/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Recursos/assets/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="~/Recursos/css/style.css" rel="stylesheet" />
    <link href="~/Recursos/css/helper.css" rel="stylesheet" />

</head>
<body>

    <div class="wrapper-page">
        <div class="panel panel-color panel-inverse">
            <div class="panel-heading">
                <h3 class="text-center m-t-10"> Sign In to <strong>Restaurant System</strong> </h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal m-t-10 p-20 p-b-0" action="/Intranet/Principal">

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="Nombre de Usuario">
                        </div>
                    </div>
                    <div class="form-group ">

                        <div class="col-xs-12">
                            <input class="form-control" type="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group ">
                        <div class="col-xs-12">
                            <label class="cr-styled">
                                <input type="checkbox" checked>
                                <i class="fa"></i>
                                Recordarme
                            </label>
                        </div>
                    </div>

                    <div class="form-group text-right">
                        <div class="col-xs-12">
                            <button class="btn btn-success w-md" type="submit">Ingresar</button>
                        </div>
                    </div>
                    <div class="form-group m-t-30">
                        <div class="col-sm-7">
                            <a href="pages-recoverpw.html"><i class="fa fa-lock m-r-5"></i> Olvido su Contraseña?</a>
                        </div>
                        <div class="col-sm-5 text-right">
                            <a href="pages-register.html">Create an account for Chicho</a>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/Recursos/js/jquery.js"></script>
    <script src="~/Recursos/js/bootstrap.min.js"></script>
    <script src="~/Recursos/js/wow.min.js"></script>
    <script src="~/Recursos/js/jquery.nicescroll.js"></script>


    <!--common script for all pages-->
    <script src="~/Recursos/js/jquery.app.js"></script>


</body>
</html>
