@{
    ViewBag.Title = "Listar";//~/Recursos/assets
}

<h2>Listar</h2>


@section scripts{

<script src="~/Resources/assets/datatables/jquery.dataTables.min.js"></script>    
<script src="~/Resources/assets/datatables/dataTables.bootstrap.js"></script>
<script src="~/Resources/assets/datatables/dataTables.buttons.min.js"></script>
<script src="~/Resources/assets/datatables/buttons.bootstrap.min.js"></script>
<script src="~/Resources/assets/datatables/jszip.min.js"></script>
<script src="~/Resources/assets/datatables/pdfmake.min.js"></script>
<script src="~/Resources/assets/datatables/vfs_fonts.js"></script>
<script src="~/Resources/assets/datatables/buttons.html5.min.js"></script>
<script src="~/Resources/assets/datatables/buttons.print.min.js"></script>
<script src="~/Resources/assets/datatables/dataTables.fixedHeader.min.js"></script>
<script src="~/Resources/assets/datatables/dataTables.keyTable.min.js"></script>
<script src="~/Resources/assets/datatables/dataTables.responsive.min.js"></script>
<script src="~/Resources/assets/datatables/responsive.bootstrap.min.js"></script>
<script src="~/Resources/assets/datatables/dataTables.scroller.min.js"></script>
<script src="~/Resources/assets/js/datatables.init.js"></script>
}